.pageHeader {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: rgba($color: $white, $alpha: 0.2);
}

.header__wrapper {
    @extend .flex;
    @extend .max-width;
    margin: 0 auto;
    padding: rem(10) 0;
}

.header__logo {
    width: calc(100% / 12 * 4);
    max-width: rem(70);
    margin-right: auto;
}

.header__menu {
    width: calc(100% / 12 * 8);
    font-family: "Montserrat-Medium";
    font-size: rem(14);
    font-weight: 500;
    text-transform: uppercase;

    &List {
        @extend .flex;
    }

    &Link {
        display: flex;
        width: 100%;
        color: $codGray;
        transition: .2s all;

        &:hover {
            color: $java;
        }
    }
}