.reviews {
    position: relative;
    padding: rem(100) 0;
    background-color: $java;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        padding: rem(60) 0;
    }
    @media screen and (max-width: 576px) {
        padding: rem(40) 0 rem(60);
    }
    @media screen and (max-width: 992px) and (orientation: landscape) {
        padding: rem(60) 0;
    }

    &__wrapper {
        @extend .max-width;
        
        .swiperSlider__wrapper {
            width: calc(100% / 12 * 8);
            position: relative;
            margin: 0 auto;

            @media screen and (max-width: 768px) {
                width: calc(100% / 12 * 12);
            }
            @media screen and (max-width: 992px) and (orientation: landscape) {
                width: calc(100% / 12 * 10);
            }
        }
    }
}

.review__text {
    font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(30);
    font-weight: 500;
    line-height: 120%;
    color: $white;
    letter-spacing: 0.08px;
    
    @media screen and (max-width: 768px) {
        font-size: rem(24);
    }
    @media screen and (max-width: 576px) {
        font-size: rem(20);
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
        font-size: rem(22);
    }
}

.review__author {
    font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(14);
    font-weight: 500;
    line-height: 300%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $white;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    @extend .flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}

.swiper-pagination {
    position: absolute;
    bottom: -10%!important;

    @media screen and (max-width:576px) {
        bottom: -5%!important;
    }
}

.swiper-pagination-bullet {
    width: rem(13);
    height: rem(13);
    background-color: $white;
}