.banner {
    @extend .flex;
    height: 100vh;
    background-image: url("../../../img/lebowskiBanner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bannerBg;
}

.banner__wrapper {
    @extend .max-width;

    @media screen and (max-width: 576px) {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }
}

.banner__content {
    width: calc(100% / 12 * 6);
    max-height: rem(630);
    margin-left: auto;

    @media screen and (max-width: 992px) {
        width: calc(100% / 12 * 7); 
    }

    @media screen and (max-width: 768px) {
        width: calc(100% / 12 * 8);
    }

    @media screen and (max-width: 576px) {
        width: calc(100% / 12 * 12);
    }

    &Text {
        margin-top: rem(15);

        @media screen and (max-width: 576px) {
            color: $java;
        }
    }
}