h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

// .container {
//     @include container();
//     @include sm(max-width, rem(510));
//     @include md(max-width, rem(690));
//     @include lg(max-width, rem(930));
//     @include xl(max-width, rem(1110));
// }

* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    font-family: "NunitoSans", Arial, Helvetica, sans-serif;
    font-size: $font-size;
    line-height: 1;
    background-color: $white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

svg {
    width: 20px;
    height: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: rem(1170);
    margin: 0 auto;
    padding-right: rem(15)!important;
    padding-left: rem(15)!important;
}

.mx-20 {
    margin-left: rem(20);
}

.title {
    font-family: "Montserrat-Medium";
    font-size: rem(38);
    font-weight: 500;
    color: #1d1d1d;
    letter-spacing: 0.38px;

    @media screen and (max-width: 992px) {
      font-size: rem(34);
    }
    @media screen and (max-width: 768px) {
      font-size: rem(30);
    }
    @media screen and (max-width: 576px) {
      font-size: rem(26);
      text-align: center;
    }
}

.text {
    font-size: rem(18);
    font-weight: 400;
    line-height: rem(28);
    color: $boulder;
    letter-spacing: 0.09px;

    @media screen and (max-width: 768px) {
      font-size: rem(16);
    }
}

.bold {
  font-weight: 700;
  color: $codGray;
}

@keyframes flip {
    from {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }
  
    40% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }
  
    50% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }
  
    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
  
    to {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
}